body {
    background-color: #252525;
    font-family: Arial, sans-serif;
    color: white;
}

#profilePictureImage {
    position: absolute;
    left: 45%;
    top: 2%;
    width: 90px;
    height: 90px;
    border-radius: 75px;
}

.standardTable {
    width: 80%;
    text-align: center;
    border: 1px solid #FF0000;
    margin: 10%;
    border-radius: 20px;
    padding: 3%;
    background-color: #333333;
}


.profile-button {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
}