body{
    background-color: #252525;
    font-family: Arial, sans-serif;
}

#error-box{
    border: 1px solid #FF0000;
    margin: 10%;
    border-radius: 20px;
    padding: 3%;
}


#error-code{
    text-align: center;
    font-size: 24px;
    color: red;
}

#error-message{
    text-align: center;
    font-size: 20px;
    color: white;
}

#error-description{
    text-align: center;
    font-size: 16px;
    color: #ccc;
}